.container
	.jumbotron
		h1 Search API Help
		div
			input(type='text', ng-model='enteredValue') 
			button(type='submit', ng-click='findValue(enteredValue)') Search
			p 
				| To add your own documentation add the following anywhere in your procedure.
				br
				pre
					b /* DOC
					br
					| &lt;&lt;YOUR DOCUMENTATION&gt;&gt;
					br
					b */

	div.results(ng-show="results.length > 0")
		h3 API Help
		.table-responsive
			table.table.table-striped
				thead
					tr
						th Procedure
						th Parameters
				tbody
					tr(ng-repeat='proc in results')
						td {{ proc.name }}
							p.helpDocumentation {{ proc.Doc }}
						td 
							table.table
								thead
									tr
										th Name
										th Type
										th Output
										th Default
								tbody
									tr(ng-repeat='param in proc.params')
										td {{ param.name }}
										td {{ param.type }}
										td {{ param.output }}
										td {{ param.default }}

	div.error(ng-show="results.length == 0")
		.alert.alert-danger.ng-binding(role='alert')
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
			span.sr-only Sorry 
			| Sorry, no procedures match this search term.