include ./navigation-blocks.jade

doctype html
html(ng-app='app', ng-controller='ApplicationCtrl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style(type="text/css")
      | [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      | display: none !important;
      | }
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/angular-bootstrap-calendar.min.css')
    link(rel='stylesheet', href='/theme.css')
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='/print.css')
    title(ng-bind-template="{{params.browserTitle}}")
  body(ng-cloak='true')
    //- Blank navigation for when not logged in as it shows nothing otherwise :(
    +nav()

    //- Candidate menu
    +nav({"ng-if":'userClass()==\'CANDIDATE\''})
      +nav_item( "/#/canddetails" ) Details
      +nav_item( "/#/canddepartments") Registration 
      +nav_item( "/#/canddocuments", {"ng-if":'userHasRight(\'DOCCANDDOWNLOAD\')'} ) Documents
      +nav_item_dropdown( "Timesheets" )
        +nav_item( "/#/provtimesheets", {"ng-if":'userHasRight(\'FILLTIMESHEETS\')'} ) Current
        +nav_item( "/#/timesheets" ) Completed
      +nav_item( "/#/canddiary", {"ng-if":'userHasRight(\'DIARY\')'} ) Diary
      +nav_item( "/#/jobsearch", {"ng-if":'isSwitchedOn(\'JOBSEARCH\')'} ) Job Search

    //- Client menu
    +nav({"ng-if":'userClass()==\'CLIENT\''})
      +nav_item_dropdown( "Timesheets" )
        +nav_item( "/#/provtimesheets", {"ng-if":'userHasRight(\'FILLTIMESHEETS\')'} ) Current
        +nav_item( "/#/timesheets" ) Completed

    //- Owner menu
    +nav({"ng-if":'userClass()==\'OWNER\''})
      +nav_item( "/#/serverstats" ) Stats
      +nav_item( "/#/apiprocs", {"ng-if":'userHasRight(\'APIDESIGN\') && isSwitchedOn(\'APIDESIGN\')'} ) API
      +nav_item( "/#/jobsearch", {"ng-if":'userHasRight(\'TESTONLY\')'} ) Jobs
      +nav_item( "/#/test", {"ng-if":'userHasRight(\'TESTONLY\')'} ) Test

    .mynavspacer
    div(ng-view)
    .myfooterspacer

    footer.navbar-default.navbar-fixed-bottom.navbar-inverse.webFooter
      .container
        p.navbar-brand.footerText {{params.footerText}}

    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.0/moment.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js')
    script(src='/lib/angular-bootstrap-calendar-tpls.min.js')
    script(src='/app.js')
