include ./standard-blocks.jade

doctype html
html(ng-app='app', ng-controller='ApplicationCtrl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/angular-bootstrap-calendar.min.css')
    link(rel='stylesheet', href='/theme.css')
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='/print.css')
    title {{params.browserTitle}}
  body
    //- Blank navigation for when not logged in as it shows nothing otherwise :(
    +nav("","",{})

    +nav("Candidate Navigation", "main_menu", {"ng-if":'userClass()==\'CANDIDATE\''})
      +nav_item( "/#/canddetails" ) Details
      +nav_item( "/#/provtimesheets" ) Timesheets
      +nav_item_dropdown( "#" )( label="Dropdown ")
        +nav_item( "#/" ) Item 1
        +nav_item( "#/" ) Item 2
        +nav_item( "#/" ) Item 3
        +nav_divider
        +nav_header Header Item
        +nav_item( "#" ) Item 4
        +nav_item( "#" ) Item 6
      +nav_item( "/#/canddiary", {"ng-if":'userHasRight(\'DIARY\')'} ) Diary
      +nav_item( "/#/jobsearch", {"ng-if":'isSwitchedOn(\'JOBSEARCH\')'} ) Job Search
      +nav_item( "/#/canddocuments", {"ng-if":'userHasRight(\'DOCCANDDOWNLOAD\')'} ) Documents

    +nav("Owner Navigation", "main_menu", {"ng-if":'userClass()==\'OWNER\''})
      +nav_item( "/#/serverstats" ) Stats
      +nav_item( "/#/apiprocs", {"ng-if":'userHasRight(\'APIDESIGN\') && isSwitchedOn(\'APIDESIGN\')'} ) API
      +nav_item( "/#/test", {"ng-if":'userHasRight(\'TESTONLY\')'} ) Test

    .mynavspacer
    div(ng-view)
    .myfooterspacer

    footer.navbar-default.navbar-fixed-bottom.navbar-inverse.webFooter
      .container
        p.navbar-brand.footerText {{params.footerText}}

    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.0/moment.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-messages.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js')
    script(src='/lib/angular-bootstrap-calendar-tpls.min.js')
    script(src='/app.js')
