include ./standard-blocks.jade
h3.textcentre {{theRecord.departmentname}}
+Container
  +Form
    +FormCheckbox('temp','Seeking Temp Jobs',{})
    +FormCheckbox('perm','Seeking Perm Jobs',{})
    +FormQuestionnaire
    