.container
	.jumbotron
		h1 Search Help
		div
			input(type='text', ng-model='enteredValue')
			br
			button(type='button', ng-click='findValue(enteredValue)') Search
			br
			h3 Results
			table.table
				thead
					tr
						th Procedure
						th Parameters
				tbody
					tr(ng-repeat='proc in results')
						td {{ proc.name }}
						td 
							table.table
								thead
									tr
										th Name
										th Type
										th Output
										th Default
								tbody
									tr(ng-repeat='param in proc.params')
										td {{ param.name }}
										td {{ param.type }}
										td {{ param.output }}
										td {{ param.default }}

