mixin InlineDatePopup(sRecord,sID,oAttrs)
  p.input-group.datepicker(style='max-width:300px;')
    input.form-control(type='text', id=sID, name=sID, ng-model=sRecord+'.'+sID, datepicker-popup='{{dateFormat}}', is-open='dateIsOpen.'+sID, datepicker-options='dateOptions')&attributes(oAttrs)
    span.input-group-btn
      button.btn.btn-default(type='button', ng-click='dateOpen($event,\''+sID+'\')')
        i.glyphicon.glyphicon-calendar
        
mixin InlineTimePopup(sRecord,sID,oAttrs,sLabel)
  table(style='display:inline-table;min-height:90px;')
    tbody
      tr: td &nbsp;
      tr: td= sLabel
      tr: td &nbsp;
  timepicker(ng-model=sRecord+'.'+sID, minute-step='5', show-meridian='false', style='display:inline-table')&attributes(oAttrs)

